:markdown

  ## Responsibilities

  * Fix prioritized issues from the issue tracker.
  * Write the code to complete scheduled direction issues chosen by our scheduling committee, assigned to you by the frontend lead.
  * Continually improve the quality of GitLab by using discretion of where you think changes are needed.
  * Create high quality frontend code.
  * Frontend Design Specialist: Implement the interfaces in GitLab proposed by UX Engineers and contributors.
  * Frontend Design Specialist: Improve the [static website of GitLab](/) based on the collaborations with the the Designer and CMO.
